:root {
    --page-background-color: #000;
    --map-background-color: #000;
}

body {
    background: var(--page-background-color);
}

#breadcrumb-maps {
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    height: 40px;
    background: var(--map-background-color);
    padding: 4px 16px 4px 16px;
    border-radius: 0 0 16px 16px;
    border: 2px solid #9040b8;
    border-top: 0;
}

#formatter {
    position: fixed;
    top: 96px;
    right: 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 16px;
    padding: 12px;
}

#formatter-mode-highlight {

}

#frame-carousel {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    /*borderLeft: `1px solid ${PAGE_BACKGROUND}`,*/
    /*borderRight: `1px solid ${PAGE_BACKGROUND}`,*/
    border-radius: 16px 16px 0 0;
    border: 2px solid #9040b8;
    border-bottom: 0;
    /*backgroundColor: MAP_BACKGROUND,*/
}

#frame-carousel-mobile-stepper {
    flex-wrap: wrap;
    gap: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--map-background-color);
}

#logo {
    position: fixed;
    width: 224px;
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: linear-gradient(330deg, #a4508b 0%, #5f0a87 74%);
    border-bottom-right-radius: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#auth {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 96px;
    width: calc(48*8px);
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    border-radius: 16px;
}

#profile {
    position: fixed;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 4px 12px 4px 12px;
    display: flex;
    align-items: center;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 16px;
    flex-direction: row;
    background: var(--map-background-color);
    border-left: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
}

#sidebar-left {
    position: fixed;
    left: 0;
    width: 40px;
    height: calc(40*4px);
    padding: 4px 12px 4px 12px;
    display: flex;
    align-items: center;
    background: var(--map-background-color);
    border-top: 1px solid var(--page-background-color);
    border-right: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
    border-left: 0;
    border-radius: 0 16px 16px 0;
}

.sidebar-right-section {
    position: fixed;
    right: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 12px 4px 12px;
    background: var(--map-background-color);
    border-top: 1px solid var(--page-background-color);
    border-left: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
    border-right: 0;
}
