@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

html, body, div, table, td, tr {
    user-select: none;
}

[contenteditable="true"]:focus {
    outline: none;
}

img {
    border-radius: 2px;
}

::-webkit-scrollbar {
    display: none;
}