html, body, div, table, td, tr {
    border: 0;
    margin: 0;
    padding: 0;
}

[contenteditable="true"]:focus {
    outline: none;
}

#Test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}

.katex {
    display: inline-block
}

#page {
    height: 100vh;
    /*child*/
    display: flex;
    flex-direction: column;
}

#top {
    flex-grow: 0;
    height: 48px;
    background-color: #747ca8;
}

#bottom {
    flex-grow: 1;
    /*child*/
    display: flex;
}

#bottom-left {
    flex-grow: 0;
    background-color: #d5d7e4;
    width: 220px;
}

#bottom-left-down {
    /*child*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom-right {
    flex-grow: 1;
    background-color: #ccc;
    overflow-y: scroll;
    height: calc(100vh - 48px);
    /*child*/
    /*https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container*/
}

#mapDiv {
    width: 0;
    height: 0;
    margin:auto;
    position: relative;
    background: #fbfafc;
    /*child*/
    display: flex;
    align-content: flex-start;
}

#mapSvg {
    flex-grow: 1;
}

img {
    border-radius: 8px;
}
