html, body, div, canvas, table, td, tr {
    border: 0;
    margin: 0;
    padding: 0;
}

[contenteditable="true"]:focus {
    outline: none;
}

#Test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}

.katex {
    display: inline-block
}

#page {
    height: 100vh;
    /*child*/
    display: flex;
    align-content: flex-start;
}

#left {
    flex-grow: 0;
    width: 220px;
    /*child*/
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#left-top {
    flex-grow: 0;
    height: 48px;
    background-color: #747ca8;
}

#left-bottom {
    flex-grow: 1;
    background-color: #d5d7e4
}

#right {
    flex-grow: 1;
    /*child*/
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#right-top {
    flex-grow: 0;
    height: 48px;
    background-color: #747ca8;
}

#right-bottom {
    flex-grow: 1;
    height: calc(100% - 48px);
    overflow-y: scroll;
    background-color: #ccc;
    /*child*/
    display: flex;
    justify-content: center;
}

#mapDiv {
    position: relative;
    background: #fbfafc;
}

#mapSvg {

}

#mapCanvas {

}

img {
    border-radius: 8px;
}
