#update-task {
    position: fixed;
    top: calc(48*2px);
    right: 64px;
    width: calc(6*32px);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: var(--map-background-color);
    border: 1px solid var(--page-background-color);
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px 12px 12px 12px;
}
