#undo-redo {
    position: fixed;
    left: calc(224px + 48px);
    width: calc(2*40px);
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px 12px 4px 12px;
    background: var(--map-background-color);
    border-top: 0;
    border-left: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
    border-right: 1px solid var(--page-background-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
