#breadcrumbs {
    top: 48px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fbfafc;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #9040b8;
    /*border-top: 0;*/
}
