#mapHolderDiv {
    overflow-y: scroll;
    overflow-x: scroll;
}

#mapWrap {
    position: relative;
    padding-top: 100vh;
    padding-left: 100vw;
}

#mapDiv {
    position: absolute;
    border-radius: 32px;
    background-color: #fbfafc;
    transition-property: width, height;
    display: flex;
}

#mapSvgOuter {
    position: absolute;
    left: 0;
    top: 0;
}

#mapSvgInner {
    overflow: visible;
}
