#palette {
    position: fixed;
    left: 75%;
    transform: translate(-75%);

    top: 0;
    width: 350px;
    height: 48px;
    background-color: rgba(251,250,252,1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-top: 0;
}
