#palette {
    position: relative;
    /*left: 100%;*/
    /*transform: translate(-100%);*/

    /*right: 0;*/
    width: 350px;
    /*height: 48px;*/
    background-color: rgba(251,250,252,1);

    border-radius: 16px;

    /*border-bottom-right-radius: 16px;*/
    /*border-bottom-left-radius: 16px;*/

    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    /*border-top: 0;*/
}
