@import '~material-design-icons/iconfont/material-icons.css';

#preferencesContainer {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    right: 0;
}

#preferences {
    width: 200px;
    height: auto;
    background-color: rgba(251,250,252,1);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -5px 5px 5px #dddddd;
    display: flex;
    flex-direction: column;

}

.buttons {
    display: flex;
    justify-content: center;
}

