#tabsContainer {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

#tabs {
    width: 200px;
    height: auto;
    background-color: #fbfafc;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-left: 0;

    /*box-shadow: inset 0px 0px 2px 2px #dddddd;*/
}
