@import '~material-design-icons/iconfont/material-icons.css';

#toolbar {
    position: fixed;
    left: 25%;
    transform: translate(-25%);
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fbfafc;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-top: 0;
    border-right: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}
