#toolbar-container {
    position: fixed;
    width: 100vw;
    /*right: 0;*/

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
}

#toolbar {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fbfafc;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-top: 0;
}
