#formatter {
    position: fixed;
    width: 216px;
    top: 96px;
    right: 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 16px;
    padding: 12px;
    border: 1px solid var(--page-background-color);
    background: var(--map-background-color);
}

#formatter-mode-highlight {

}

.targeted-button-group {

}
