#frame-carousel {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    border-radius: 16px 16px 0 0;
    border: 2px solid #9040b8;
    border-bottom: 0;
}

#frame-carousel-mobile-stepper {
    flex-wrap: wrap;
    gap: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--map-background-color);
}
