#sidebar-left {
    position: fixed;
    left: 0;
    width: 40px;
    height: calc(40*4px);
    padding: 4px 12px 4px 12px;
    display: flex;
    align-items: center;
    background: var(--map-background-color);
    border-top: 1px solid var(--page-background-color);
    border-right: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
    border-left: 0;
    border-radius: 0 16px 16px 0;
}

.sidebar-right-section {
    position: fixed;
    right: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 12px 4px 12px;
    background: var(--map-background-color);
    border-top: 1px solid var(--page-background-color);
    border-left: 1px solid var(--page-background-color);
    border-bottom: 1px solid var(--page-background-color);
    border-right: 0;
}
