html, body, div, table, td, tr {
    user-select: none;
}

[contenteditable="true"]:focus {
    outline: none;
}

/*https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript*/
#Test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.katex {
    display: inline-block
}

img {
    border-radius: 2px;
}

::-webkit-scrollbar {
    display: none;
}

/*https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links*/
:focus {outline:none;}
::-moz-focus-inner {border:0;}


.MuiDataGrid-root, .MuiDataGrid-columnHeader, .MuiDataGrid-root, .MuiDataGrid-cell {
    outline: none !important;
}

:root {
    --main-color: #000;
    --page-background-color: #000;
    --button-color: #000;
}

body {
    background: var(--page-background-color);
}
