/* theme-config.css */
.radix-themes {
    /*background-color: #404040;*/
}

textarea:focus, input:focus{
    outline: none !important
}
*:focus {
    outline: none !important
}


/*.rt-AlertDialogOverlay {*/
/*    opacity: 25%;*/
/*    !*z-index: 1;*!*/
/*}*/


/*.rt-AlertDialogContent {*/
/*    opacity: 100%*/
/*}*/

body {
    /*background: var(--app-background-color) !important;*/
    /*back*/
}


.rt-DropdownMenuViewport {
    /*background: var(--app-background-color) !important;*/

}
