@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html, body, div, table, td, tr {
  user-select: none;
}

[contenteditable="true"]:focus {
  outline: none;
}

#Test {
  position: absolute;
  visibility: hidden;
  line-height: 1.5;
}

.katex {
  display: inline-block
}

img {
  border-radius: 2px;
}

::-webkit-scrollbar {
  display: none;
}